; This file user only to override default php.ini values
; BASIC SETTINGS: $PHP_INI_DIR/php.ini
; PHP-FPM SETTINGS: /usr/local/etc/php-fpm.d/zz-www.conf

[PHP]
display_errors = {{ getenv "PHP_DISPLAY_ERRORS" "On" }}
max_execution_time = {{ getenv "PHP_MAX_EXECUTION_TIME" "120" }}
max_input_time = {{ getenv "PHP_MAX_INPUT_TIME" "60" }}
max_input_vars = {{ getenv "PHP_MAX_INPUT_VARS" "2000" }}
post_max_size = {{ getenv "PHP_POST_MAX_SIZE" "32M" }}
upload_max_filesize = {{ getenv "PHP_UPLOAD_MAX_FILESIZE" "32M" }}
max_file_uploads = {{ getenv "PHP_MAX_FILE_UPLOADS" "20" }}

memory_limit = {{ getenv "PHP_CLI_MEMORY_LIMIT" "-1" }}
error_reporting = {{ getenv "PHP_ERROR_REPORTING" "E_ALL" }}
log_errors = {{ getenv "PHP_LOG_ERRORS" "On" }}
log_errors_max_len = {{ getenv "PHP_LOG_ERRORS_MAX_LEN" "0" }}
error_log = /proc/self/fd/2

[mail function]
sendmail_path = {{ getenv "PHP_SENDMAIL_PATH" "/usr/bin/msmtp -t -i" }}
mail.mixed_lf_and_crlf = {{ getenv "PHP_MAIL_MIXED_LF_AND_CRLF" "Off" }}

[Date]
date.timezone = {{ getenv "PHP_DATE_TIMEZONE" "UTC"}}

;[mail function]
;sendmail_path = "{{ getenv "PHP_SENDMAIL_PATH" "/usr/bin/dos2unix -u | /usr/bin/msmtp -t -i" }}"
