; Settings https://xdebug.org/docs/all_settings
; Example: https://github.com/wodby/php/blob/master/8/templates/docker-php-ext-xdebug.ini.tmpl
[xdebug]
zend_extension=xdebug.so
xdebug.mode = {{ getenv "PHP_XDEBUG_MODE" "off" }}
xdebug.start_with_request = {{ getenv "PHP_XDEBUG_START_WITH_REQUEST" "default" }}
xdebug.client_host = {{ getenv "PHP_XDEBUG_CLIENT_HOST" "host.docker.internal" }}
xdebug.client_port = {{ getenv "PHP_XDEBUG_CLIENT_PORT" "9003" }}

; The xdebug.log_level setting controls how much information is logged.
xdebug.log_level = {{ getenv "PHP_XDEBUG_LOG_LEVEL" "3" }}

xdebug.output_dir = {{ getenv "PHP_XDEBUG_OUTPUT_DIR" "/tmp" }}
xdebug.use_compression = {{ getenv "PHP_XDEBUG_USE_COMPRESSION" true }}

;xdebug.trigger_value = "{{ getenv "PHP_XDEBUG_TRIGGER_VALUE" "" }}"
;{{ if getenv "PHP_XDEBUG_IDEKEY" }}
;xdebug.idekey = {{ getenv "PHP_XDEBUG_IDEKEY" }}
;{{ end }}

; Profile
xdebug.profiler_output_name = {{ getenv "PHP_XDEBUG_PROFILER_OUTPUT_NAME" "cachegrind.out.%p" }}

; Trace
;xdebug.trace_enable_trigger = 1
;xdebug.trace_output_name = "trace.%c"

; Errors
xdebug.force_display_errors = {{ getenv "PHP_XDEBUG_FORCE_DISPLAY_ERRORS" "0" }}
xdebug.force_error_reporting = {{ getenv "PHP_XDEBUG_FORCE_ERROR_REPORTING" "0" }}
xdebug.log = {{ getenv "PHP_XDEBUG_LOG" "/proc/self/fd/2" }}